<div class="app">
	<div class="app-btn">
		<div class="app-btn-add">
			Boxes to add <input #input type="number" value="1" min="1"/>
			<button (click)="commonService.addBox(input.value)">Add</button>
		</div>
		
		<div class="app-btn-switch">
			Toggle Keyboard Controls
			<div class="app-btn-switch-input">
				<input type="checkbox" [checked]="commonService.keyboardControlsOn"/>
				<span class="app-btn-switch-input-slider" (click)="commonService.toggleKeyboardControls()" ></span>
			</div>
		</div>
	</div>
	<div class="app-boxes"
		[style.width.px]="boundingBox.width"
		[style.height.px]="boundingBox.height">
		<app-box *ngFor="let item of commonService.boxes" [data]="item"></app-box>
	</div>
</div>